.slider {
  position: relative;
  min-height: 30px;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.slider .line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #333333;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}
.slider .cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #333333;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: solid 3px #ffffff;
}
.unselectable {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  height: 100%;
}
#test {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}
#test .wrapper {
  padding: 15px;
}
